{% extends 'shared/layout.html' %}
{% load thumbnail %}
{% block title %}
    article | List
{% endblock %}

{% block content %}
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Blog</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="{% url 'home' %}">Home</a>
                        <span>Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    {% if Articles %}


                        {% for Article in Articles %}
                            <div class="blog__item">
                                {% thumbnail Article.image "690x385" crop='center' quality=95 as im %}
                                    <div class="blog__item__pic set-bg" data-setbg="{{ im.url }}">
                                {% endthumbnail %}
                                <div class="blog__pic__inner">

                                    <div class="label">Recipes</div>
                                    <ul>
                                        {#                                    <li>By <span>James Myers</span></li>#}
                                        <li>By <span> {{ Article.author.username }} </span></li>
                                        <li> {{ Article.created_date }} </li>
                                        {#                                    <li>112 Views</li>#}
                                    </ul>
                                </div>
                                </div>
                                <div class="blog__item__text">
                                    <h2>{{ Article.title }}</h2>
                                    <p>{{ Article.short_description }}</p>
                                    <a href="{% url 'article-Detail' pk=Article.id %}">READ MORE</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}

                        <div class="col-12 text-center">
                            <p class="no-products-message">No Blog found matching your search.</p>
                        </div>
                        
                    {% endif %}

                    <div class="shop__pagination">
                        {% if page_obj.has_previous %}
                            <a onclick="fillpage({{ page_obj.previous_page_number }})"><span
                                    class="arrow_carrot-left"></span></a>
                        {% endif %}
                        {% for page_num in page_obj.paginator.page_range %}
                            <a onclick="fillpage({{ page_num }})"
                               href="#" class="{% if page_obj.number == page_num %}
                               active {% endif %}">{{ page_num }}</a>
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a onclick="fillpage({{ page_obj.next_page_number }})"><span
                                    class="arrow_carrot-right"></span></a>
                        {% endif %}

                    </div>
                </div>
                <form method="get" action="#" id="form-fill-page">
                    <input type="hidden" value="" name="page" id="input-page-fill">
                </form>
                <div class="col-lg-4">
                    <div class="blog__sidebar">
                        <div class="blog__sidebar__search">
                            <form action="" method="get">
                                <input type="text" name="article_search" placeholder="Enter keyword"
                                       value="{{ search_query }}">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="blog__sidebar__item">
                            <h5>Follow me</h5>
                            <div class="blog__sidebar__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                <a href="https://www.instagram.com/r.namavar?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i
                                        class="fa fa-instagram"></i></a>
                            </div>
                        </div>

                        <div class="blog__sidebar__item">
                            <h5>Categories</h5>
                            <div class="blog__sidebar__item__categories">
                                <ul>
                                    {% for category in categorys %}
                                        <li>
                                            <a href="{% url 'article-category' category_url=category.url_title %}">{{ category.title }}
                                                <span>{{ category.article_count }}</span></a></li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

{% endblock %}