{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}

{% block content %}
    <div class="auth-container">
        {% element h1 class="auth-title" %}
            {% trans "Sign In" %}
        {% endelement %}

        {% if not SOCIALACCOUNT_ONLY %}
            <p class="auth-message">
                {% blocktranslate %}If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktranslate %}
            </p>

            <form method="post" action="{% url 'account_login' %}" class="auth-form">
                {% csrf_token %}
                <div class="auth-fields">
                    {% element fields form=form unlabeled=True %}
                    {% endelement %}
                </div>
                <button type="submit" class="btn btn-primary">ورود</button>
                {{ redirect_field }}
            </form>
        {% endif %}

        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>
{% endblock content %}
