/*.alert-success {*/
/*    background-color: #e0f7fa; !* رنگ آبی ملایم *!*/
/*    color: #00796b; !* رنگ متن *!*/
/*    border: 1px solid #00796b; !* حاشیه‌ای هماهنگ *!*/
/*    padding: 10px 20px; !* فاصله داخلی *!*/
/*    border-radius: 10px; !* لبه‌های گرد *!*/
/*    text-align: center; !* متن وسط چین *!*/
/*    font-size: 14px; !* اندازه متن *!*/
/*    width: fit-content; !* اندازه متناسب با متن *!*/
/*    margin: 20px auto; !* فاصله و مرکزیت *!*/
/*    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); !* سایه ظریف *!*/
/*}*/
/*.alert-success {*/
/*  color: #4CAF50; !* رنگ سبز برای پیام موفقیت *!*/
/*  font-weight: 600;*/
/*  text-transform: uppercase;*/
/*  border-bottom: 1px solid #e1e1e1;*/
/*  padding-bottom: 10px;*/
/*  margin-bottom: 20px;*/
/*  background-color: #f1f8e9; !* پس‌زمینه روشن *!*/
/*  padding: 10px 20px;*/
/*  border-radius: 8px; !* گوشه‌های گرد *!*/
/*  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); !* سایه ملایم *!*/
/*}*/


.overlay-message {
    position: absolute;
    top: 10px; /* فاصله از بالا */
    right: 10px; /* فاصله از راست */
    background-color: #e0f7fa;
    color: #00796b;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    text-align: center;
    width: fit-content;
    z-index: 1000;
}

.alert-success-custom {
    position: absolute;
    top: 10px; /* فاصله از بالا */
    right: 10px; /* فاصله از راست */
    background-color: #e0f7fa;
    color: #00796b;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    text-align: center;
    width: fit-content;
    z-index: 1000;
}

.custom-link {
    color: #000; /* رنگ لینک در حالت عادی */
    text-decoration: none; /* حذف خط زیر لینک */
}

.custom-link:hover {
    color: #000; /* رنگ لینک هنگام هاور */
    background-color: #f0f0f0; /* پس‌زمینه هنگام هاور (اختیاری) */
    text-decoration: underline; /* خط زیر لینک هنگام هاور (اختیاری) */
}

.map-style {
    height: 300px;
    border: 0;
    allowfullscreen: true; /* این ویژگی فقط در HTML اعمال می‌شود */
    aria-hidden: false; /* این ویژگی فقط در HTML اعمال می‌شود */
    tabindex: 0; /* این ویژگی فقط در HTML اعمال می‌شود */
}

.divider {
    margin-top: 20px;
    border: 1px solid #444444; /* استایل خط */
}

.blog__details__ingredients ul li {
    list-style: none;
    font-size: 16px;
    color: #444444;
    line-height: 30px;
    letter-spacing: 1px;
    padding-left: 40px;
    position: relative;
    display: block;
    max-width: 100%; /* عرض کامل تا خط افقی */
    white-space: normal; /* شکستن متن در فضای طبیعی */
    word-break: break-word; /* شکستن کلمات طولانی */
    text-align: justify; /* تراز متن */
}

/*.article-author-label {*/
/*    font-size: 14px; !* اندازه متن *!*/
/*    font-weight: bold; !* ضخامت متن *!*/
/*    color: #555; !* رنگ متن *!*/
/*    margin-bottom: 5px; !* فاصله از نام نویسنده *!*/
/*    text-transform: uppercase; !* تبدیل به حروف بزرگ *!*/
/*}*/

.article-author-label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: inline-block; /* برای مدیریت فاصله در خط */
    margin-right: 10px; /* فاصله از سمت راست */
}

.article-author-name {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
    display: inline-block; /* نمایش در یک خط */
}


.article-description {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
    margin-top: 10px;
}

.no-products-message {
    font-size: 18px;
    color: #555;
    margin-top: 5px;
}


.instagram-link {
    color: black;
    text-decoration: none;
}

.instagram-link:hover {
    color: darkorange;
    text-decoration: underline;
    transition: color 0.3s, text-decoration 0.3s;
}

.iamge-control-size-product {
    width: 85px;
    height: 85px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}


.big_img {
    width: 100%;
    max-width: 425px;
    max-height: 425px;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.cart-image-size {
    width: 90px;
    height: 90px;
    object-fit: cover;
    /*display: flex;*/
}


.shop__pagination a.active {
    font-weight: bold;
    color: white;
    background-color: #000000;
    border-color: #007bff;
}
.shop__pagination a {
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  top: 2px;
}

.shop__pagination a span {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #f1f1f1;
  transition: background-color 0.3s, color 0.3s;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  top: 2px;
}

.shop__pagination a span:hover {
  /*background: #007bff;*/
  color: #007bff;
}

.shop__pagination a.active {
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border-color: #007bff;
}

.shop__pagination a:hover {
  background-color: #f1f1f1;
  color: #007bff;

}
.product__cart__item__pic {
    display: flex;
    align-items: center;
}

.product__cart__item__text {
    margin-left: 50px;
    /* تغییرات اضافی */
}

.product__cart__item__text h6 {
    color: #111111;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.2;
    position: relative;
    top: -8px;
}

.favorite_tr_titles_set th:nth-child(2),
.favorite_tr_titles_set th:nth-child(3) {
    text-align: center;
    padding: 10px;
}


.wishlist__cart__table td {
    text-align: center;
}

.product__cart__item__text h6 {
    margin-top: 0;
}

.cart__price, .cart__stock, .cart__btn, .cart__close {
    vertical-align: middle;
}


